.container-form {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.container-form form {
    background-color: #f7f7f7;
    max-width: 80%;
    box-shadow: 7px 7px 15px rgb(0, 0,0, 0.08);
    border-radius: 16px;
    padding: 8px 100px;
}

.form h2 {
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}